<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <title>Pikachu</title>
        </header>
        <main>
            <p>Een kleine beschrijving.</p>
        </main>
    </body>
</html>