<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <title>Pikachu</title>
        </header>
        <main>
            <p>
                My name is <%= data.name %> and I am <%= data.age %> years old.
                <img src="<%= data.profilePic %>" />
            </p>
        </main>
    </body>
</html>