<%- include('header') %>

<ul>
    <% for(let i = 0; i < movies.length; i++) { %>

        <li><%= movies[i].name %> <br/>
            <a href="/movies/<%= i %>">pagina</a>
        </li>
    
    <% }; %>
</ul>

<a href="/">TERUG NAAR HOME</a>

</body></html>